.card{
    background-color: white;
    box-shadow: 0 0 20px rgb(219, 219, 219);
}
div.category-scroll{
    height: 60px;
    width: 380px; overflow-x: auto; white-space: nowrap; 
    -ms-overflow-style: none; /* IE Edge 브라우저에서 가로 스크롤 안보이게*/
    scrollbar-width: none; /*firefox 에서 가로 스크롤 안보이게*/
}
div.category-scroll::-webkit-scrollbar{
    display: none; /*chrome safari, opera브라우저에서 가로 스크롤 안보이게*/
}
.category{
    display: inline;
    width: 100px;
    height: 50px;
    background-color: rgb(199, 219, 255);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    color: white;
}
.category-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}
.category-title{
    display: flex;
    font-size: 1rem;
}
.category-content{
    width: 150px;
    height: 150px;
}