.card{
    background-color: white;
    box-shadow: 0 0 20px rgb(219, 219, 219);
}
div.category-scroll{
    height: 100px;
    width: 375px; overflow-x: auto; white-space: nowrap; 
    -ms-overflow-style: none; /* IE Edge 브라우저에서 가로 스크롤 안보이게*/
    scrollbar-width: none; /*firefox 에서 가로 스크롤 안보이게*/
}
div.category-scroll::-webkit-scrollbar{
    display: none; /*chrome safari, opera브라우저에서 가로 스크롤 안보이게*/
}
.category{
    display: inline-table;
    width: 100px;
    height: 50px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 5px rgb(223, 223, 223) ;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    color: rgb(48, 48, 48);
}
.category-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}
.category-title{
    display: flex;
    font-size: 1rem;
}
.category-content{
    width: 130px;
    height: 130px;
    margin: 5px;
}