    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm justify-content-between" id="mainNav">
            <div class="px-5">
                <a class="navbar-brand fw-bold" href="#page-top">Fairecord</a>
            </div>
            <div class="px-5">
                <a href="#">
                    <i class="fas fa-user nav-icon"></i>
                </a>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light fixed-bottom shadow-sm-up justify-content-center" id="mainNav">
            <div class="row container">
                <div class="col-4 text-center">
                    <a href="#">
                        <i class="fas fa-camera nav-icon"></i>
                    </a>
                    <p class="py-0 my-0">camera</p>
                </div>
                <div class="col-4 text-center">
                    <a href="#">
                        <i class="fas fa-home nav-icon"></i>
                    </a>
                    <p class="py-0 my-0">home</p>
                </div>
                <div class="col-4 text-center">
                    <a href="#">
                        <i class="fas fa-book-open nav-icon"></i>
                    </a>
                    <p class="py-0 my-0">mybook</p>
                </div>
            </div>
        </nav>
    </header>