<!DOCTYPE html>
<html>
    <head>{% include "nav/nav_css.html" %}
        <link href="/static/css/index.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        
    </head>
    <body class="bg-light">
        {% include "nav/nav.html" %}
        <main>
            <div class="container-fluid">
                <!--카드1-->
                <div class="card shadow" style="margin:30px">
                    <div class="card-header nav justify-content-between">
                        <a class="mt-1" href="#"><span class="material-icons-round nav-icon">download</span></a>
                        <a class="mt-1" href="#"><span class="material-icons-round nav-icon">close</span></a>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-5 align-self-center">
                                <a href="#"><img class="card-img" src="/static/image/팜플렛1.jpg"></a>
                            </div>
                            <div class="col-7 align-self-center">
                                <div class="card-body ">
                                    <a class="textlink " href="#">
                                        <p class="font-nanum fs-3 fw-bold my-1  fade-in-box">팜플렛 제목 </p>
                                    </a>
                                    <p class="font-nanum fs-6 fw-normal mt-1  fade-in-box"> : 팜플렛 부제목</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--카드2-->
                <div class="card shadow" style="margin:30px">
                    <div class="card-header nav justify-content-between">
                        <a class="mt-1" href="#"><span class="material-icons-round nav-icon">download</span></a>
                        <a class="mt-1" href="#"><span class="material-icons-round nav-icon">close</span></a>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-5 align-self-center">
                                <a href="#"><img class="card-img" src="/static/image/팜플렛1.jpg"></a>
                            </div>
                            <div class="col-7 align-self-center">
                                <div class="card-body ">
                                    <a class="textlink " href="#">
                                        <p class="font-nanum fs-3 fw-bold my-1  fade-in-box">팜플렛 제목 </p>
                                    </a>
                                    <p class="font-nanum fs-6 fw-normal mt-1  fade-in-box"> : 팜플렛 부제목</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--카드3-->
                <div class="card shadow" style="margin:30px">
                    <div class="card-header nav justify-content-between">
                        <a class="mt-1" href="#"><span class="material-icons-round nav-icon">download</span></a>
                        <a class="mt-1" href="#"><span class="material-icons-round nav-icon">close</span></a>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-5 align-self-center">
                                <a href="#"><img class="card-img" src="/static/image/팜플렛1.jpg"></a>
                            </div>
                            <div class="col-7 align-self-center">
                                <div class="card-body ">
                                    <a class="textlink " href="#">
                                        <p class="font-nanum fs-3 fw-bold my-1  fade-in-box">팜플렛 제목 </p>
                                    </a>
                                    <p class="font-nanum fs-6 fw-normal mt-1  fade-in-box"> : 팜플렛 부제목</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--카드4-->
                <div class="card shadow" style="margin:30px">
                    <div class="card-header nav justify-content-between">
                        <a class="mt-1" href="#"><span class="material-icons-round nav-icon">download</span></a>
                        <a class="mt-1" href="#"><span class="material-icons-round nav-icon">close</span></a>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-5 align-self-center">
                                <a href="#"><img class="card-img" src="/static/image/팜플렛1.jpg"></a>
                            </div>
                            <div class="col-7 align-self-center">
                                <div class="card-body ">
                                    <a class="textlink " href="#">
                                        <p class="font-nanum fs-3 fw-bold my-1  fade-in-box">팜플렛 제목 </p>
                                    </a>
                                    <p class="font-nanum fs-6 fw-normal mt-1  fade-in-box"> : 팜플렛 부제목</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "nav/nav_scripts.html" %}
    </body>
</html>
