<!DOCTYPE html>
<html>
    <head>{% include "nav/nav_css.html" %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    </head>
    <body class="bg-light">
        {% include "nav/nav.html" %}
        <main>
            <div class="container-fluid">
                <div class="card" style="margin:30px">
                    <div class="card-header nav justify-content-between">
                        <span class="material-icons-round">download</span>
                        <span class="material-icons-round">close</span>
                    </div>
                    <div class="card-body">
                       
                    </div>
                </div>
            </div>
        </main>
        {% include "nav/nav_scripts.html" %}
    </body>
</html>
