<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/static/lib/ElaAdmin/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pamphlet.css">


</head>
<body class="p-5 mt-3">
    <div class="category-scroll"> 
        <div class="category"> catergory1</div>
        <div class="category"> catergory2</div>
        <div class="category"> catergory3</div>
        <div class="category"> catergory4</div>
        <div class="category"> catergory5</div>
        <div class="category"> catergory6</div>
        <div class="category"> catergory6</div>
        <div class="category"> catergory6</div>
        <div class="category"> catergory6</div>
        <div class="category"> catergory6</div>
        <div class="category"> catergory6</div>
        <div class="category"> catergory6</div>
    </div> 
    <p class="category-title"> category 1</p>
    <div class="category-grid">
        <div class="card category-content" >content</div>
        <div class="card category-content" >content</div>
        <div class="card category-content" >content</div>
        <div class="card category-content" >content</div>
    </div>


</body>
</html>